{% include "layouts/layout.html" %}

<body>

    <div class="container">
        <!-- Navigationsleiste wenn der User angemeldet ist-->
        <div class="row">
             <ul class="navbar" >
                {% if current_user.is_authenticated %}
                <li class="navigation-item-submenu">
                    <a href="/admin/register">Benutzer anlegen</a>
                </li>
                <li class="navigation-item-submenu">
                    <a href="/admin/update_user">Benutzer bearbeiten</a>
                </li>

                <li class="navigation-item-submenu">
                    <a href="/admin/usermanagement">Benutzerrechte verwalten</a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>

    <div class="container">
        <div class="row">
            {% block content %}

            {% endblock %}
        </div>

    </div>

</body>
</html>